/* Font Styles */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

/* Positioning CSS */

#mainContent {
    display: flex;
    justify-content: center;
}

#searchbar {
    width: 15%;
    margin: 0 2.5%;
}

#dashboard {
    width: 75%;
    margin: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cardOne{
    width: 98%;
    padding: 1%;
}

#fiveDayCards{
    width: 98%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#fiveDayCards h3{
    width: 100%;
}

#fiveDayCards .card{
    width: 18%;
    margin: 1%;
}

