/* Font Styles */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

body{
    background-color: lightgray;
}

header{
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(to right, steelblue, navy );
    color: white;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style: none;
    text-align: center;
    font-size:1.25;
    font-weight: bold;
    width: 50%;
    margin: 10px 0;
    padding: 5px;
    background-color: slateblue;
    border-radius: 5px;
    color: white;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-bottom: 30px;
    border-right: solid 2px black;
}

aside h2{
    margin-bottom: 20px;
}

aside input{
    margin-bottom: 10px;
    width: 95%;
    height: 30px;
    padding: 0;
    border-radius: 5px;
}

aside button{
    width: 95%;
    height: 30px;
    align-self: center;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Positioning CSS */

#searchHistorySection{
    width: 100%;
    display: flex;
}

#mainContent {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

#searchbar {
    width: 15%;
    margin: 0 2.5%;
}

#searchBox{
    border-bottom:  solid 2px black;
}

#dashboard {
    width: 75%;
    margin: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cardOne{
    width: 98%;
    padding: 1%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
}

#fiveDayCards{
    width: 98%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#fiveDayCards h3{
    width: 100%;
}

#fiveDayCards .card{
    width: 16%;
    margin: 1%;
    padding: 1%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
}

/*Stack our subsidiary cards 2x2*/
@media screen and (max-width: 1000px) {
     #fiveDayCards .card{
        width: 45%;
    }   
}

/*stack cards in a single column. hide the search History as it takes up valuable screen real estate*/
@media screen and (max-width : 650px) {
    
    #mainContent{
        display: block;
    }

    #searchBox{
        width: 95%;
    }

    #dashboard{
        width: 95%;
    }
    
    #searchHistorySection{
        display: none;
    }

    #fiveDayCards .card{
        width: 98%;
    } 
}